@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@200;300&display=swap');

body {
  background: linear-gradient(224.46deg, #2C2A51 45.58%, #605CAE 91.37%);
  background-repeat: no-repeat;
}

.container {
  margin: 64px;
  padding: 48px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  background: #F9DCDE;
  color: #2C2A51;
}

.header {
  padding-bottom: 15px;
  border-bottom: 3px solid #F4AFB3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.perfil-foto {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #F4AFB3;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.titulo {
  text-align: center;
}

.titulo h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 56px;
  margin: 15px 0px;
}

.titulo h2 {
  font-family: 'Poppins', sans-serif;;
  font-weight: 300;
  font-size: 25px;
}

.titulo h3 {
  font-family: 'Poppins', sans-serif;;
  font-weight: 300;
  font-size: 20px;
}

.titulo h3 a {
  text-decoration: none; 
  color: #2C2A51;
}

.titulo h3 a:hover {
  color: #605CAE;
}

.btnTema button {
  font-family: 'Poppins', sans-serif;;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px;
  background: #2C2A51;
  border: 2px solid #605CAE;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 5px 10px;
  cursor: pointer;
}

.btnTema button:hover {
  background: #605CAE;
  border: 2px solid #2C2A51;
  transition: 0.3s;
}

.projetos ul {
  list-style: none;
  margin: 10px 0px; 
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.projetos li {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;;
  font-weight: 300;
  font-size: 25px;
}

.projetos li p {  
  margin: 5px 0px; 
}

.descricao {
  font-size: 18px;
}

.dark {
  background: linear-gradient(224.46deg, #F9DCDE 45.64%, #F4AFB3 91.37%, #F4AFB3 91.37%);
}

.dark .container {
  background: #2C2A51;
  color: #F9DCDE;
}

.dark .header {
  border-bottom: 3px solid #605CAE;
}

.dark .perfil-foto {
  border: 5px solid #605CAE;
}

.dark .titulo h3 a {
  color: #F9DCDE;
}

.dark .titulo h3 a:hover {
  color: #F4AFB3;
}

.dark .btnTema button {
  background: #F9DCDE;
  border: 2px solid #F4AFB3;
  color: #2C2A51;
}

.dark .btnTema button:hover {
  background: #F4AFB3;
  border: 2px solid #F9DCDE;
  color: #2C2A51;
  transition: 0.3s;
}